* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #f9faf8;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

#header, #hero {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

#header {
  padding: 15px 0;
}

.content {
  display: flex;
  align-items: center;
  width: 60rem;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  flex: 1;
}

#hero {
  padding: 130px 0;
}

#hero .content {
  gap: 20px;
  color: #e5e7eb;
}

.description {
  flex: 1;
}

.description h1 {
  font-size: 48px;
}

.description p {
  font-size: 18px;
  padding: 15px 0;
}

button {
  background-color: #3882f6;
  border: 0;
  border-radius: 5px;
  color: #f9faf8;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
}

.img {
  background-color: rgb(109, 116, 125);
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}

#info h2 {
  font-size: 36px;
  color: #1f2947;
  padding-bottom: 40px;
}

.info-content {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  gap: 10px;
  text-align: center;
  width: 150px;
}

.square {
  width: 100%;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 15px;
}

#quote-section {
  background-color: #e5e7eb;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#quote-section .content {
  width: 55rem;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.content .author {
  color: #1f2937;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 50px 0 0;
}

#banner {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.banner-bg {
  width: 100%;
  border-radius: 10px;
  background-color: #3882f6;
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  gap: 50px
}

.banner-bg button {
  border: 2px solid #e5e7eb;
}

.bttn {
  margin: 0 auto;
}

.banner-bg p:nth-child(2) {
  font-size: 15px;
}